<%- include('../../includes/header') %>
    <link href="/web/static/stylesheets/main.70e1e078.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenter.1cbdaa6f.css">
    <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenter.4fdd35a5.css">
    <link rel="stylesheet" type="text/css" href="/web/static/stylesheets/d-MemberCenterAffiliate.5c2754d0.css">

    <div class="app-body">
        <div class="member-center-main">


            <div class="member-center-content">
                <div class="block member-center-affiliate">
                    <div class="title" id="titleAgency">Thống kê đại lý tháng</div>
                    <div class="nav">
                        <div class="tab"><img src="/web/static/media/mypeople.1965fee6..svg" alt="direct-members"
                                style="width: 50%; height: auto;">
                            <span>
                                Thành viên</span>
                            <span id="countRefUser" style="font-size: 23px;">0</span>
                        </div>
                        <div class="tab"><img src="/web/static/media/commission.2bd9b4c9..svg" alt="commission"
                                style="width: 50%; height: auto;">
                            <span>Lợi nhuận</span>
                            <span id="countProfit" style="font-size: 23px;">0</span>
                        </div>
                        <div class="tab"><img src="/web/static/media/info.5fa7930d..svg" alt="rule-description"
                                style="width: 50%; height: auto;">
                            <span>Hướng dẫn</span>
                            <span id="countRefUser" style="margin-bottom: 27px;"></span>
                        </div>
                    </div>
                    <div class="left-info">
                        <div class="data-box">
                            <div class="label">Tổng số thành viên của bạn</div>
                            <div class="value" id="countRefUser2">0</div>
                        </div>
                        <div class="data-box">
                            <div class="label">Số thành viên đăng ký hôm nay</div>
                            <div class="value" id="countRefUser3">0</div>
                        </div>

                        <div class="data-box">
                            <div class="label">Tổng nạp tháng này</div>
                            <div class="value" id="totalDeposit">0.00</div>
                        </div>

                        <div class="data-box">
                            <div class="label">Tổng rút tháng này</div>
                            <div class="value" id="totalWithdraw">0.00</div>
                        </div>

                        <div class="data-box">
                            <div class="label">Tổng volume cược tháng này</div>
                            <div class="value" id="totalVolume">0.00</div>
                        </div>
                    </div>
                </div>
                <div class="block member-center-affiliate">
                    <div class="title">Mã đăng ký</div>
                    <div class="right-info">
                        <div class="data-box">
                            <div>
                                <div class="label">ID giới thiệu của bạn</div>
                                <div class="data"><span class="affiliateid"></span></div>
                            </div>
                            <div class="copy-text"><i class="fa fa-2x fa-clone" aria-hidden="true"
                                    onclick="javascript:void(coppyToClipboard($('.affiliateid').html()))"></i>
                            </div>
                        </div>
                        <div class="data-box">
                            <div>
                                <div class="label">Liên kết giới thiệu của bạn</div>
                                <div class="data"><span class="link" id="affilate-link">
                                    </span>
                                </div>
                            </div>
                            <div class="copy-text"><i class="fa fa-2x fa-clone" aria-hidden="true"
                                    onclick="javascript:void(coppyToClipboard($('#affilate-link').html()))"></i>
                            </div>
                        </div>
                        <div class="data-box">
                            <div>
                                <div class="label">Mã giới thiệu QR của bạn</div>
                                <div class="data">
                                    <div class="link-qr-code">
                                        <img id="qr-affilate-share" src="" height="128" width="128"
                                            style="height: 128px; width: 128px;" />
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="download-btn" id="qr-affilate-download">
                                    <div class="icon"><i class="fa fa-download" aria-hidden="true"
                                            style="font-size: 14px;"></i></div>Tải xuống
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right-drawer-root"></div>
            </div>

        </div>
    </div>



    <script>
        const coppyToClipboard = (text) => {
            var input = document.createElement('input');
            input.setAttribute('value', text);
            document.body.appendChild(input);
            input.select();
            var result = document.execCommand('copy');
            document.body.removeChild(input);
            alert('Đã copy vào bộ nhớ tạm!');
            return result;
        }

        $(document).ready(() => {
            getMyRefInfo();
            countRefererUser();
            countRefererUserToday();
            caculatorProfit();
            $('#titleAgency').html(`Thống kê đại lý tháng ${moment().format("MM")}`);
        });

        const countRefererUser = () => {
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/agency/countRefUser",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer <%=dataPage.session.accessToken%>",
                    "Content-Type": "application/json",
                },
            }).done((response) => {
                if (response.status) {
                    $('#countRefUser').html(numberWithCommas(response.count));
                    $('#countRefUser2').html(numberWithCommas(response.count));
                } else {
                    alert(response.msg);
                }
            });
        }
        const countRefererUserToday = () => {
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/agency/countRefUserToday",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer <%=dataPage.session.accessToken%>",
                    "Content-Type": "application/json",
                },
            }).done((response) => {
                if (response.status) {
                    $('#countRefUser3').html(numberWithCommas(response.count));
                } else {
                    alert(response.msg);
                }
            });
        }
        const getMyRefInfo = () => {
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/agency/myRefShare",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer <%=dataPage.session.accessToken%>",
                    "Content-Type": "application/json",
                },
            }).done((response) => {
                if (response.status) {
                    $('.affiliateid').html(response.agency.code);
                    $('#affilate-link').html(`<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}`);
                    $('#qr-affilate-share').attr("src", `https://quickchart.io/qr?text=<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}&ecLevel=H&margin=1&size=128`);
                    $('#qr-affilate-download').attr("onclick", `window.location='https://quickchart.io/qr?text=<%=dataPage.config.SITE_URL;%>?affilate_id=${response.agency.code}&ecLevel=H&margin=1&size=128'`);
                } else {
                    alert(response.msg);
                }
            });
        }

        const caculatorProfit = () => {
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/agency/calculatorProfit",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer <%=dataPage.session.accessToken%>",
                    "Content-Type": "application/json",
                },
            }).done((response) => {
                console.log(response);
                if (response.status) {
                    const dataProfit = response.data;
                    let totalVolume = 0, totalDeposit = 0, totalWithdraw = 0;

                    response.data.forEach((user) => {
                        // caculator volume
                        user.betRecord.forEach((bet) => {
                            totalVolume += Number(bet.betAmount);
                        });
                        // caculator deposit
                        user.depositRecord.forEach((deposit) => {
                            totalDeposit += Number(deposit.amount);
                        });
                        // caculator withdraw
                        user.withdrawRecord.forEach((withdraw) => {
                            totalWithdraw += Number(withdraw.amount);
                        });
                    });
                    totalVolume = totalVolume * 1000;
                    $('#totalVolume').html(numberWithCommas(totalVolume));
                    $('#totalDeposit').html(numberWithCommas(totalDeposit));
                    $('#totalWithdraw').html(numberWithCommas(totalWithdraw));
                    $('#countProfit').html(numberWithCommas(totalDeposit - totalWithdraw));
                } else {
                    alert(response.msg);
                }
            });
        }
    </script>
    <%- include('../../includes/footer') %>