<%- include('../../includes/header') %>

    <div id="body-web-info-vip">
        <div class="wrap-info">
            <div class="info-container">

                <!-- SIDEBAR MENU -->
                <%- include('./sidebar') %>
                    <!-- END SIDEBAR MENU -->

                    <div class="right">
                        <div class="main-content">
                            <div class="title">Cấp độ VIP</div>
                            <div class="vip-display">
                                <div class="vip-level">
                                    <div class="info-display">
                                        <div class="top-box">
                                            <div class="">Cấp độ hiện tại</div>
                                            <div class="level"></div>
                                            <p>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </p>
                                        </div>
                                        <div class="bottom-box"></div>
                                    </div>
                                    <div class="badge-image">
                                        <img id="armorial" class=" ls-is-cached lazyloaded"
                                            data-src="https://i.stack.imgur.com/kOnzy.gif" alt="Vip User"
                                            src="https://i.stack.imgur.com/kOnzy.gif">
                                    </div>
                                </div>
                                <div class="vip-link">
                                    <a href="/vip-privileges">
                                        <div class="">Đặc quyền VIP</div>
                                        <img class=" ls-is-cached lazyloaded"
                                            data-src="/web/nato888/web/Images/privilege_bg.png" alt=""
                                            src="/web/nato888/web/Images/privilege_bg.png">
                                    </a>
                                </div>
                            </div>
                            <div class="vip-condition">
                                <div class="detail-card">
                                    <div class="card-content">
                                        <div class="content-codition"><b id="next_vip_level">Điều kiện thăng cấp</b>
                                        </div>
                                        <div class="msg-btn">Chưa đủ điều kiện</div>
                                    </div>
                                    <div class="card-detail">
                                        <div class="">
                                            <div class="title">Nạp tiền thăng cấp</div>
                                            <div class="point">
                                                <div class="current-point">
                                                    <span id="total_deposit" style="color:rgb(154, 193, 67)">0</span> /
                                                    <span id="deposit_require" style="color:rgb(255, 21, 21)">0</span>
                                                </div>
                                                <div class="codition-point"></div>
                                            </div>
                                            <div class="progress-bar">
                                                <div class="prog-2" style="width:0%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vip-privilege">
                                <div class="title">
                                    Đặc quyền riêng của bạn
                                </div>
                                <div class="box">
                                    <div class="vip-privilege-item">
                                        <img class=" ls-is-cached lazyloaded"
                                            data-src="/web/nato888/web/Images/privileg_upgrade.png" alt=""
                                            src="/web/nato888/web/Images/privileg_upgrade.png">
                                        <div class="item-title">
                                            Quà thăng cấp
                                        </div>
                                        <button>Không có</button>
                                    </div>
                                    <div class="vip-privilege-item">
                                        <img class=" ls-is-cached lazyloaded"
                                            data-src="/web/nato888/web/Images/privileg_envelope.png" alt=""
                                            src="/web/nato888/web/Images/privileg_envelope.png">
                                        <div class="item-title">
                                            Bonus tháng
                                        </div>
                                        <button>Không có</button>
                                    </div>
                                    <div class="vip-privilege-item">
                                        <img class=" ls-is-cached lazyloaded"
                                            data-src="/web/nato888/web/Images/privileg_relief_fund.png" alt=""
                                            src="/web/nato888/web/Images/privileg_relief_fund.png">
                                        <div class="item-title">
                                            Bonus cứu trợ
                                        </div>
                                        <button>Không có</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="sub-content">
                            <ul class="nav nav-tabs" style="margin-top: 28px;">
                                <li class="active" style="text-align: left;"><a data-toggle="tab" href="#home">Lịch sử
                                        thăng cấp</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="home" style="max-height: 58vh;" class="tab-pane fade in active show">
                                    <div class="history-sreach">
                                        <div class="input-field">
                                            <div class="">
                                                <div class="input-block">
                                                    <label for="">Thời gian từ</label>
                                                    <input type="text" name="timeStart" id="timeStart"
                                                        class="timeStart flatpickr-input" value="2023-01-27"
                                                        readonly="readonly">
                                                </div>
                                                <div class="icon-celander">
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-field">
                                            <div class="">
                                                <div class="input-block">
                                                    <label for="">Thời gian kết thúc</label>
                                                    <input type="text" name="timeEnd" id="timeEnd"
                                                        class="timeEnd flatpickr-input" value="2023-02-03"
                                                        readonly="readonly">
                                                </div>
                                                <div class="icon-celander">
                                                    <i class="fa-solid fa-calendar-days"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="search-history" data-type="vip">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                    <div id="list-mess">
                                        <div class="infinite-loader-wrapper">
                                            <div class="infinite-load-item">
                                                <img class=" ls-is-cached lazyloaded"
                                                    data-src="http://nani88.com/web/Images/vip/loader.svg" alt=""
                                                    src="http://nani88.com/web/Images/vip/loader.svg">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
            </div>
        </div>

    </div>


    <script>
        $(document).ready(() => {
            getVipUser();
        });

        const getVipUser = () => {
            $.ajax({
                "url": "<%=dataPage.config.MAIN_API%>/api/vip",
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "Authorization": "Bearer <%=dataPage.session.accessToken%>",
                    "Content-Type": "application/json",
                },
            }).done((response) => {
                if (response.status) {
                    const VipData = response.data;
                    let armorialImg = null;
                    switch (VipData.current_vip) {
                        case 0:
                            armorialImg = "/web/nato888/web/Images/badge_21.png";
                            break;
                        case 1:
                            armorialImg = "/web/nato888/storage/vip-icon/vip1.png";
                            break;
                        case 2:
                            armorialImg = "/web/nato888/storage/vip-icon/vip2.png";
                            break;
                        case 3:
                            armorialImg = "/web/nato888/storage/vip-icon/vip3.png";
                            break;
                        case 4:
                            armorialImg = "/web/nato888/storage/vip-icon/vip4.png";
                            break;
                        case 5:
                            armorialImg = "/web/nato888/storage/vip-icon/vip5.png";
                            break;
                        case 6:
                            armorialImg = "/web/nato888/storage/vip-icon/vip6.png";
                            break;
                    }
                    $("#armorial").attr("data-src", armorialImg).attr("src", armorialImg);

                    let totalDeposit = (VipData.total_deposit >= VipData.next_vip_deposit_require) ? VipData.next_vip_deposit_require : VipData.total_deposit;

                    $(".level").html(`VIP ${VipData.current_vip}`);
                    $("#next_vip_level").html(`Điều kiện thăng cấp lên VIP ${VipData.next_vip_level}`);
                    $("#total_deposit").html(numberWithCommas(totalDeposit));
                    $("#deposit_require").html(numberWithCommas(VipData.next_vip_deposit_require));
                    $(".codition-point").html(`Còn thiếu ${numberWithCommas(VipData.next_vip_deposit_require - VipData.total_deposit)}`)
                    $(".bottom-box").html(`<p>Thưởng tháng = ${numberWithCommas(VipData.coin_monthly)}</p> <p>Nạp tiền >= ${numberWithCommas(VipData.deposit_require)}</p>`);
                    $(".prog-2").css("width", (totalDeposit / VipData.next_vip_deposit_require) * 100 + "%");

                    // nhận thưởng
                    if (totalDeposit >= VipData.next_vip_deposit_require) {
                        $(".msg-btn").attr("style", "color: rgb(24 190 57);border: 1px solid rgb(24 190 57);cursor: pointer;");
                        $(".msg-btn").html(`Nhận thưởng & Thăng cấp`);
                        $(".msg-btn").attr("onClick", `getReward(${VipData.current_vip + 1})`);
                    }
                } else {
                    alert(response.msg);
                }
            });
        }

    </script>

    <%- include('../../includes/footer') %>